<section class="review">
  <div class="container">
    <ul class="slider">
      <li class="slider__item">
        <h2 class="slider-title slider-logo">
          IT Happens <br />
          представляет
        </h2>
      </li>
      <li class="slider-item">
        <img class="image" src="./images/1.jfif" alt="Катя" />
        <div class="text-box">
          <h3 class="slider-title">Катя</h3>
          <p class="sign">Team-lead</p>
          <p class="description">
            Бессменный божественный тимлид. Направит на истинный путь все пропащие души! Проведет по
            всем кругам ада без единой царапинки. Посмотрите на вашего тимлида и на Катю. На вашего тимлида и на Катю. Да, Катя на коне! Ваш тимлид, впрочем, тоже
          </p>
        </div>
      </li>

      <li class="slider-item">
        <img class="image" src="./images/3.jpg" alt="Катя" />
        <div class="text-box">
          <h3 class="slider-title">Настя</h3>
          <p class="sign">Our time hero</p>
          <p class="description">
            Давай форму, аккордеон запилим, и вот это ещё, и это.. А я уже все сделала.. Вот это
            страсть к коду.
          </p>
        </div>
      </li>

      <li class="slider-item">
        <div class="text-box">
          <h3 class="slider-title">Коля</h3>
          <p class="sign">Slider-boy</p>
          <p class="description">
            Не все герои носят плащи и носки. Да вы только взгляните не этот велеколепный слайдер!
            Это же чистое волшебство! "Нажмите уже на эти чёртовы иконки, кто-нибудь"
          </p>
        </div>
        <img class="image alex" src="./images/4.jpg" alt="Коля" />
      </li>

      <li class="slider-item">
        <div class="text-box">
          <h3 class="slider-title">Алексей</h3>
          <p class="sign">Navigator vseya Rusi</p>
          <p class="description">
            Да это главный навигатор нашего проекта. Без него нам было бы не то... А так захотели и
            на Program улетели, захотели и Contacts укатили. «Быстро и комфортно. Советую к общим
            путешествиям»
          </p>
        </div>
        <img class="image alex" src="./images/5.jpg" alt="Алексей" />
      </li>

      <li class="slider-item">
        <img class="image" src="./images/8.jpg" alt="Вася" />
        <div class="text-box">
          <h3 class="slider-title">Василий</h3>
          <p class="sign">CSS-warrior</p>
          <p class="description">
            Завоеватель css-счетчиков, мастер спорта по absolut-тах, неопровержимый победитель фоновых
            градиентов.
          </p>
        </div>
      </li>

      <li class="slider-item">
        <img class="image" src="./images/7.jpg" alt="Максим" />
        <div class="text-box">
          <h3 class="slider-title">Максим</h3>
          <p class="sign">Just fire!</p>
          <p class="description">
            Это наш покоритель огоньков. Он с любыми псевдоклассами расправится в два счета. Я
            вообще в шоке, как быстро и вправно он кодит.
          </p>
        </div>
      </li>

      <li class="slider-item">
        <div class="text-box">
          <h3 class="slider-title">Василина</h3>
          <p class="sign">Miracle</p>
          <p class="description">
            Невероятная девушка. Вы видели какой у нас Hero получился? Да там вообще картинка
            прыгает! F какие плавные переходы... Это все благодаря ей. Просто чудо
          </p>
        </div>
        <img class="image alex" src="./images/6.jpg" alt="Василина" />
      </li>

      <li class="slider-item">
        <img class="image" src="./images/9.jpg" alt="Дарья" />
        <div class="text-box">
          <h3 class="slider-title">Дарья</h3>
          <p class="sign">Grades-mage</p>
          <p class="description">
            Два в ряд, три в ряд, да хоть десять - все ровно сделает, все на ура.. Ховер –
            пожалуйста, спрайт – да пфф, легкотня. Нет ничего, что может стать на пути к величию.
          </p>
        </div>
      </li>

      <li class="slider-item">
        <img class="image nat" src="./images/2.jpg" alt="Неля" />
        <div class="text-box">
          <h3 class="slider-title">Наташа</h3>
          <p class="sign">Scrum-master</p>
          <p class="description">
            Скрам-парам-пам-пам-мастер. Постоянно что-то придумает хоть стой, хоть падай. Фантазии
            хоть отбавляй. Но ничего, мы с ней справились.
          </p>
        </div>
      </li>

      <li class="slider-item bttn">
        <h3 class="slider-title bbtn">большая красная кнопка</h3>
        <a href="https://kateryna286.github.io/project_team_5/" class="slider-btn">
          <span> ОТ ВИНТА!!! </span>
        </a>
      </li>
    </ul>
  </div>
</section>
